@page "{id:int?}"
@model Testsite.Pages.Motorcycles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motorcycle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Motorcycle.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

